$TTL    86400
@                 IN SOA        ansible.test. root.ansible.test. (
100     ; serial
1H      ; refresh
1M      ; retry
1W      ; expiry
1D)     ; minimum
@                IN NS           ns1.ansible.test.
