<html>
<head>
    <title>Ansible First Steps</title>
</head>
<body>
    <h1>
        These are my first steps with Ansible. I delighted to use it.
	I'm ready to learn more and make great things with Ansible. 
    </h1>
    <br/><br/><br/>
    <p>
        <img src="Ansible_logo.png" alt="Ansible Logo"/>
    </p>
</body>
</html >
